<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Past your Cognitive Services Face API key here -->
    <add key="FaceApiKey" value="[key]" />
    <!-- Generate a new Guid for your Workspace Key -->
    <add key="WorkspaceKey" value="[key]" />
    <!-- The name of the identity group of trained images -->
    <add key="PersonGroupName" value="People" />
    <!-- Enter the top-level folder of your identity training images (Example: C:\Pictures\Training\). Subfolders names will be used to tag people within,
    and should be named by person (Example: C:\Pictures\Training\Bob Smith).-->
    <add key="TrainingImagesPath" value="C:\Pictures\Training\" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>